body {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    margin: 0;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo {
    font-weight: 500;
    padding: 0.75em 0;
}

.iguana1 {
    text-align: left;
    margin-right: 0;
}

.iguana {
    width: 100%;
}


.parrafo {
    display: inline-block;
    text-align: left;
    margin: 70px 120px;
    width: 30%;
    vertical-align: middle;
    font-weight: 300;    
}

.iguana2 {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.primerparrafo {
    margin-bottom: 10px;
}

.primera {
    margin: 50px 0;
}

.segunda {
    background-color: #1e1a13;
    padding: 40px;
    margin: 70px 0;
}

.titulo2 {
    padding: 50px 0;
    font-weight: 500;
    font-size: 40px;
}

.caracteristicas a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 1em;
    padding: 20px;
}

.descripcion {
    font-size: 25px;
    margin-top: 20px;
}

.des {
    display: inline-block;
    margin: 0 60px;
    margin-bottom: 50px;
}

.centrado {
    margin: 0 30px;
}


.imagenes {
    display: inline-block;
    padding: 20px;   
}

.img1 {
    width: 416px;
    height: 302px;
}

.sitio{
    background-color: #1e1a13;
    margin: 80px 0 0 0;
    padding: 50px 0;
}

.sitio a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 20px;
}







